<html>
    <head>
        <title>Error: 404</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('navbar', {links: links}) %>
        <h2>ERROR: 404!</h2>
        <p>Oops! Looks like the chain got broke!</p>
    </body>
    <%- include('footer') %>
</html>