<html>
    <head>
        <title>Create Post</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('../navbar', {links: links}) %>
        <h2>New Post</h2>
        <form method="POST" action="/forum/new">
            <input name="title" type="text" placeholder="Title">
            <textarea name="text" id=""></textarea>
            <select name="board" id="">
                <option value="announcement">Announcements</option>
                <option value="bug report">Bug Reports</option>
                <option value="discussion">Discussion</option>
                <option value="feedback">Feedback</option>
                <option value="patch notes">Patch Notes</option>
            </select>
            <button type="submit">Create</button>
        </form>
    </body>
    <%- include('../footer') %>
</html>